body
{
    background-color: aqua;

}
.container
{
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;    

}
.message
{
    
    border: 20px;
    color: bisque;
     
}
#msg1
{

    background-color: rgb(83, 56, 180);

}
#msg2
{

    background-color: rgb(156, 19, 104);

}
#msg3
{

    background-color: rgb(148, 247, 55);

}
#msg3
{

    background-color: rgb(148, 22, 28);

}
#msg4
{

    background-color: rgb(230, 255, 160);

}
#msg5
{

    background-color: rgb(105, 74, 98);

}